<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rooms</title>

        <link rel="stylesheet" href="/css/style1.css">
        <link rel="stylesheet" href="/css/style6.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>

    <body id="content">
        <div id="container">
            <%- include('partials/navbar') %>

            <div class="header">
                <p>My Hotel</p>
            </div>

            <div class="container1">
                <p>Select a Room</p>
                <div class="rooms">
                    <% rooms.forEach(room => { %>
                    <div class="luxury-room">
                        <img src="<%= room.image %>" alt="<%= room.title %>">
                        <div class="info">
                            <h3><%= room.category %></h3>
                            <p><%= room.description %></p>
                            <div class="fonts">
                                <div class="box"><i
                                        class="fa-sharp fa-regular fa-square"></i>
                                    <span><%= room.area %></span></div>
                                <% if (room.wifi) { %>
                                    <div class="box">
                                        <i class="fa fa-wifi"></i>
                                        <span>Available</span>
                                    </div>
                                <% } %>
                                <div class="box"><i
                                        class="fa-regular fa-user"></i><i
                                        class="fa-regular fa-user"></i>
                                    <span>Upto <%= room.capacity %> guests</span></div>
                                <div class="box"><i class="fa-solid fa-bed"></i>
                                    <span><%= room.bedSize %></span></div>
                                <div class="box box1"><i
                                        class="fa-regular fa-star star"></i>
                                    <span><%= room.highlight %></span></div>
                            </div>
                        </div>
                        <div class="rate">
                            <p><%= room.price %></p>
                            <p class="duration">Starting Rate/Night</p>
                            <a href="/guest_details/<%= room.id %>"><button
                                    type="button">Book Now</button></a>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
        <script src="/js/navbar.js"></script>
    </body>

    <script type='text/javascript' src="/js/script_hotel.js"></script>

    <script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function(){
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/673c3b6a4304e3196ae4df09/1id1kg74t';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>

</html>
